[submodule "wapm-cli"]
	path = wapm-cli
	url = https://github.com/wasmerio/wapm-cli.git
[submodule "libunwind"]
	path = libunwind
	url = https://github.com/msizanoen/libunwind.git
	branch = release_80
